html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

.mk-list {
    margin: 5px;
    padding: 0px;
    color: #555;
}

.mk-list ul {
    margin: 0px;
    padding-left: 20px;
}

.mk-list li {
    list-style:none;
}

.mk-list .mk-list-title {
    padding:5px;
}

.mk-list .mk-list-title:hover {
    background: #cbe0eb;
}


.mk-list .mk-list-title a {
    cursor: pointer;
    padding:3px;
}

.mk-list .mk-list-title .mk-list-btn-group {
    display: none;
}

.mk-list .mk-list-title:hover .mk-list-btn-group {
    display: inline;
}

.mk-list .mk-list-title:hover .mk-list-btn-group a {
    cursor: pointer;
    font-size: 15px;
}

.mk-list .mk-list-btn-group {
    float: right;
}

.mk-list .selected {
    background:  #ddd;
    border: 1px solid #aaa;
    border-radius:3px;
}

.mk-list .mk-list-newnode {
    height: 5px;
    text-align: center;
    opacity: .1;
    transition: height .5s, opacity 1s, background 1s;
}

.mk-list .mk-list-newnode:hover {
    height: 20px;
    background: rgb(255, 226, 173);
    border:1px dashed rgb(199, 147, 51);
    opacity: .8;
}

.mk-list .mk-list-newnode span {
    display: none;
}

.mk-list .mk-list-newnode:hover span {
    display: inline;
}


.mk-list .mk-list-newbtn {
    height: 5px;
    text-align: center;
    opacity: .1;
    transition: height .5s, opacity 1s, background 1s;
}

.mk-list .mk-list-newbtn:hover {
    height: 20px;
    background: rgb(255, 226, 173);
    border:1px dashed rgb(199, 147, 51);
    opacity: .8;
}

.mk-list .mk-list-newbtn span {
    display: none;
}

.mk-list .mk-list-newbtn:hover span {
    display: inline;
}

.mk-content {
    display: flex;
    flex-direction: column;
}

.mk-content .tab-group {
    flex: 0 0 25px;
}

.mk-content #termianl {
    flex: 1;
    display: flex;
}

.mk-content #termianl .term {
    flex: 1;
}

.mk-dialog-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: gray;
    opacity:0.5;
    z-index: 2000;
}

.mk-dialog {
    position: fixed;
    top: 30%;
    left: 50%;
    display: block;
    z-index: 2001;
    border: 1px solid #608ca1;
    background: #f0f0f0;
    padding:10px;
    border-radius:8px;
}

.mk-dialog-node {
    width: 260px;
    margin-left: -128px;
    margin-top: -40px;
}

.mk-dialog-host {
    width: 260px;
    margin-left: -128px;
    margin-top: -100px;
}

.mk-dialog-confirm {
    width: 220px;
    margin-left: -128px;
    margin-top: -100px;
}

.mk-dialog .content div {
    padding:2px;
}

.mk-dialog .content span {
    display: inline-block;
    min-width: 80px;
}

.mk-dialog .content input {
    width: 150px;
}

.mk-dialog .btn-group  {
    padding-top:5px;
}

.mk-dialog .btn-group-right {
    float: right;
}

.mk-dialog .btn-group button {
    min-width: 60px;
}
