html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

/* .monkey {
    height: 100%;
}

.monkey .container {
    height: 100%;
    width: 100%;
    border: 1px solid #eee;
} */

/* 
.monkey #tree-panel {
    flex: 0 0 200px;
}

.monkey #tree-expand {
    flex: 0 0 10px;
    background: gray;
}

.monkey #tabs {
    flex: 1;
}


.bold {
    font-weight: bold;
}

ul {
    height: 100%;
    width: 100%;
    list-style-type: dot;
    margin: 0px;
    padding:0px;
}

.tree-node:hover
{ 
    background-color:skyblue;
}

li {
    list-style-type:none;
    padding-left:20px;
} */


/* .tree-panel {
    float: left;
    width: 300px;
    height: 100%;
    border-right: 1px solid gray;
}

.terminaljs {
    background: black;
    color: white;
    font-family: Courier, monospace;
    display:inline-block;
    font-size: 12px;
    /* width: 500px;
    height: 400px; */
/* }  */


.tta {
    /* background: red; */
    color: white;
    font-family: Courier, monospace;
    display:inline-block;
    font-size: 12px;
    width: 960px;
    height: 700px;
    margin: 0 auto;
    padding: 2px;
}  

.group-title .list-item {
    cursor: pointer;
}

.group-title:hover {
    background: #ddd;
}
.list-item {
    cursor: pointer;
    display: flex;
}

.item:hover {
    background: #ddd;
}

.terminal-panel {
    /* height: 100%; */
}

.item-tools {
    /* float: right; */
    /* margin-top: 3px; */
}

.nav-group-item .icon {
    font-size:12px;
}

.item-tools .icon {
    font-size:14px;
}

.mk-list {
    margin: 5px;
    padding: 0px;
    color: #555;
}

.mk-list ul {
    margin: 0px;
    padding-left: 20px;
}

.mk-list li {
    list-style:none;
}

.mk-list .mk-list-title {
    /* display: flex; */
    /* flex-direction: row;  */
    /* background: red; */
    padding:5px;
    /* cursor: pointer; */
}


.mk-list .mk-list-title a {
    cursor: pointer;
    padding:3px;
}

.mk-list .mk-list-btn-group {
    float: right;
}

.mk-list .selected {
    background:  #ddd;
    border: 1px solid #aaa;
    border-radius:5px;
}
.mk-list .addbtn {
    background: #fff;
    text-align: center;
    /* height: 3px; */
    overflow: hidden;
    cursor: pointer;
    border: 1px dashed #ccc;
    height: 24px;
}

.mk-list .addbtn:hover {
    /* border: 1px dashed red; */
}

.mk-content {
    display: flex;
    flex-direction: column;
}

.mk-content .tab-group {
    flex: 0 0 25px;
}

.mk-content #termianl {
    flex: 1;
    display: flex;
}

.mk-content #termianl .term {
    flex: 1;
}

.mk-dialog-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: gray;
    opacity:0.5;
    z-index: 2000;
    
}

.mk-dialog {
    position: fixed;
    top: 30%;
    left: 50%;
    display: block;
    z-index: 2001;
    border: 1px solid #608ca1;
    background: #f0f0f0;
    padding:10px;
    border-radius:8px;
}

.mk-dialog-node {
    width: 260px;
    /* height: 80px; */
    margin-left: -128px;
    margin-top: -40px;
    /* display: none; */
}

.mk-dialog-host {
    width: 260px;
    /* height: 180px; */
    margin-left: -128px;
    margin-top: -100px;
    /* display: none; */
}

.mk-dialog-confirm {
    width: 220px;
    /* height: 180px; */
    margin-left: -128px;
    margin-top: -100px;
    /* display: none; */
}

.mk-dialog .content div {
    padding:2px;
}

.mk-dialog .content span {
    display: inline-block;
    min-width: 80px;
}

.mk-dialog .content input {
    width: 150px;
}

.mk-dialog .btn-group  {
    /* float: right; */
    padding-top:5px;
}

.mk-dialog .btn-group-right {
    float: right;
}

.mk-dialog .btn-group button {
    min-width: 60px;
}
