html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

/* .monkey {
    height: 100%;
}

.monkey .container {
    height: 100%;
    width: 100%;
    border: 1px solid #eee;
} */

/* 
.monkey #tree-panel {
    flex: 0 0 200px;
}

.monkey #tree-expand {
    flex: 0 0 10px;
    background: gray;
}

.monkey #tabs {
    flex: 1;
}


.bold {
    font-weight: bold;
}

ul {
    height: 100%;
    width: 100%;
    list-style-type: dot;
    margin: 0px;
    padding:0px;
}

.tree-node:hover
{ 
    background-color:skyblue;
}

li {
    list-style-type:none;
    padding-left:20px;
} */


/* .tree-panel {
    float: left;
    width: 300px;
    height: 100%;
    border-right: 1px solid gray;
}

.terminaljs {
    background: black;
    color: white;
    font-family: Courier, monospace;
    display:inline-block;
    font-size: 12px;
    /* width: 500px;
    height: 400px; */
/* }  */


.tta {
    /* background: red; */
    color: white;
    font-family: Courier, monospace;
    display:inline-block;
    font-size: 12px;
    width: 960px;
    height: 700px;
    margin: 0 auto;
    padding: 2px;
}  

.group-title .list-item {
    cursor: pointer;
}

.group-title:hover {
    background: #ddd;
}
.list-item {
    cursor: pointer;
    /* display: flex; */
}

.item:hover {
    background: #ddd;
}

.terminal-panel {
    height: 100%;
}

.item-tools {
    /* float: right; */
    /* margin-top: 3px; */
}

.nav-group-item .icon {
    font-size:12px;
}

.item-tools .icon {
    font-size:14px;
}