<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>SSH Monkey</title>
    <link rel="stylesheet" href="photon-0.1.2-dist/css/photon.min.css">
    <link rel="stylesheet" href="node_modules/xterm/dist/xterm.css" />
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="node_modules/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app" class="window">
        <header class="toolbar toolbar-header">
            <div class="toolbar-actions">
                <div class="btn-group">
                    <button class="btn btn-default">
                        <span class="icon icon-download"></span>
                    </button>
                    <button class="btn btn-default">
                        <span class="icon icon-upload"></span>
                    </button>
                    <button class="btn btn-default">
                        <span class="icon icon-tools"></span>
                    </button>
                </div>
            </div>
        </header>
        <div class="window-content">
            <div class="pane-group">
                <div class="pane pane-sm sidebar">
                    <ul class="mk-list">
                        <li v-for="(item, index) in listData.data">
                            <div class="mk-list-title">
                                <a class="icon" :class="item.open ? 'icon-down-dir' : 'icon-right-dir'" @click="onClickExpand(item)"> </a>
                                <a draggable="true" title="双击编辑" @dragstart="ondragstart()" @click="onClickGroup(item)" @dblclick="onDblclickGroup(item)"
                                    :class="listData.actived == item ? 'selected' : ''">
                                    {{item.name}}
                                </a>
                                <!-- <div class="btn-group">
                                    <button class="btn btn-mini btn-default" @click="onAddHost(index, $event)">
                                        <span class="icon icon-plus"></span>
                                    </button>
                                    <button class="btn btn-mini btn-default">
                                        <span class="icon icon-minus"></span>
                                    </button>
                                </div> -->
                            </div>
                            <ul v-show="item.open">
                                <li v-for="(data, i) in item.data">
                                    <div class="mk-list-title">
                                        <span class="icon icon-monitor"></span>
                                        <a @dblclick="onDblclickItem(data, item)" @click="onClickItem(data, item)" 
                                            :class="listData.actived == data ? 'selected' : ''">
                                            {{data.name}}
                                        </a>
                                        <div class="mk-list-btn-group">
                                            <button class="btn btn-mini btn-default" @click="onConnect(data, item)">
                                                <span class="icon icon-link"></span>
                                            </button>
                                        </div>
                                    </div>
                                </li>
                                <li v-show="listData.actived == item">
                                    <div class="mk-list-title">
                                        <span class="icon icon-monitor"></span>
                                        <a>
                                            <button class="btn btn-mini btn-default" @click="onAddHost(item)">
                                                <span class="icon icon-plus"></span>
                                            </button>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="mk-list-title">
                                <a class="icon icon-right-dir"> </a>
                                <a>
                                    <button class="btn btn-mini btn-default" @click="onAddNode">
                                        <span class="icon icon-plus"></span>
                                    </button>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="pane">
                    <div class="tab-group">
                        <div v-for="(item, index) in tabsData.data" class="tab-item" :class="tabsData.actived == item ? 'active':'null'" @click="onClickTab(item)">
                            <span class="icon icon-cancel icon-close-tab"></span>
                            {{item.name}}
                        </div>
                    </div>
                    <div class="terminal-panel" v-for="(item, index) in tabsData.data" v-show="tabsData.actived == item">
                        <terminal :model="item"></terminal>
                    </div>
                </div>
            </div>
        </div>
        <div class="mk-dialog-bg" v-show="dialogData.type != null" @click="onClickSpace">
        </div>
        <div class="mk-dialog mk-dialog-node" v-show="dialogData.type=='node'">
            <div class="content">
                <div>
                    <span>Name: </span>
                    <input v-model="dialogData.node.name" />
                </div>
            </div>
            <div class="btn-group">
                <button class="btn btn-mini btn-negative" @click="deleteNode">
                    Delete this Node and All Children !
                </button>
            </div>
        </div>
        <div class="mk-dialog mk-dialog-host" v-show="dialogData.type=='host'">

            <div class="content">
                <div>
                    <span>Name: </span>
                    <input v-model="dialogData.host.name" />
                </div>
                <div>
                    <span>Host: </span>
                    <input v-model="dialogData.host.host" />
                </div>
                <div>
                    <span>Port: </span>
                    <input v-model="dialogData.host.port" />
                </div>
                <div>
                    <span>User: </span>
                    <input v-model="dialogData.host.user" />
                </div>
                <div>
                    <span>Password: </span>
                    <input type="password" v-model="dialogData.host.password" />
                </div>
            </div>
            <div class="btn-group">
                <button class="btn btn-mini btn-negative" @click="deleteHost(item, data)">
                    Delete this Host !
                </button>
            </div>
        </div>

        <div class="mk-dialog mk-dialog-confirm" v-show="dialogData.type=='confirm'">
            <div>
                <span class="icon icon-attention" style="font-size:38px;color:darkred;"></span>
                <span style="font-size:18px; margin-left:20px;">Are You Sure ?</span>
            </div>
            <div class="btn-group btn-group-right">
                <button class="btn btn-mini btn-default">
                    Yes
                </button>
                <button class="btn btn-mini btn-default">
                    No
                </button>
            </div>
        </div>

    </div>
    <script>

        // new Vue({
        //     el: '#app',
        //     data() {
        //         return {
        //         };
        //     },
        //     methods: {

        //     }
        // })

        require("./js/monkey.js")

        // let { Terminal } = require('xterm');

        // let el = document.getElementById("term");

        // let term = new Terminal();

        // term.open(el);
        // // term.winptyCompatInit();

        // term.focus();

        // term.write("fdsafds")


    </script>
</body>

</html>