<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>SSH Monkey</title>
    <link rel="stylesheet" href="photon-0.1.2-dist/css/photon.min.css">
    <link rel="stylesheet" href="node_modules/xterm/dist/xterm.css" />
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="node_modules/vue/dist/vue.js"></script>
    <script>
        require("./js/monkey.js")
    </script>
</head>

<body onresize="windowResize()">
    <div id="app" class="window">
        <!-- <header class="toolbar toolbar-header">
            <div class="toolbar-actions">
                <div class="btn-group">
                    <button class="btn btn-default">
                        <span class="icon icon-download"></span>
                    </button>
                    <button class="btn btn-default">
                        <span class="icon icon-upload"></span>
                    </button>
                    <button class="btn btn-default">
                        <span class="icon icon-tools"></span>
                    </button>
                </div>
            </div>
        </header> -->
        <div class="window-content">
            <div class="pane-group">
                <div class="pane pane-sm sidebar">
                    <ul class="mk-list">
                        <li v-for="(item, index) in listData.data">
                            <div class="mk-list-newnode" @click="onAddNode(index)" title="增加分类">
                                <span class="icon icon-plus" ></span>
                            </div>
                            <div class="mk-list-title">
                                <a class="icon" :class="item.open ? 'icon-down-dir' : 'icon-right-dir'" @click="onClickExpand(item)"> </a>
                                <a draggable="true" @dragstart="ondragstart()">
                                    {{item.name}}
                                </a>
                                <div class="mk-list-btn-group">
                                    <a class="icon icon-pencil" @click="onDblclickGroup(item)" title="编辑"></a>
                                </div>
                            </div>
                            <ul v-show="item.open">
                                <li v-for="(data, i) in item.data">
                                    <div class="mk-list-newbtn" @click="onAddHost(item, i)" title="增加主机">
                                        <span class="icon icon-plus"></sapn>
                                    </div>
                                    <div class="mk-list-title">
                                        <span class="icon icon-monitor"></span>
                                        <span>
                                            {{data.name}}
                                        </span>
                                        <div class="mk-list-btn-group" >
                                            <a class="icon icon-pencil" @click="onDblclickItem(data, item)" title="编辑"></a>
                                            <a class="icon icon-link" @click="onConnect(data, item)" title="链接"></a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="mk-list-newbtn"  @click="onAddHost(item)" title="增加主机">
                                        <span class="icon icon-plus"></span>
                                    </div>
                                </li>
                                <!-- <li v-show="listData.actived == item">
                                    <div class="mk-list-title">
                                        <span class="icon icon-monitor"></span>
                                        <a>
                                            <button class="btn btn-mini btn-default" @click="onAddHost(item)">
                                                <span class="icon icon-plus"></span>
                                            </button>
                                        </a>
                                    </div>
                                </li> -->
                            </ul>
                        </li>
                        <div class="mk-list-newnode" @click="onAddNode()" title="增加分类">
                            <span class="icon icon-plus" ></span>
                        </div>
                        <!-- <li>
                            <div class="mk-list-title" style="text-align: center;">
                                <span class="icon icon-plus" @click="onAddNode"></span>
                            </div>
                        </li> -->
                    </ul>
                </div>

                <div class="pane mk-content">
                    <div class="tab-group" style="background: #d0ced0;">
                        <div v-for="(item, index) in termPlanel.data" class="tab-item" :class="termPlanel.actived == index ? 'active':'null'" @click="onClickTab(index)">
                            <span class="icon icon-cancel icon-close-tab" @click="onTabClose(index)"></span>
                            {{item.name}}
                        </div>
                    </div>
                    <div id="termianl">
                    </div>
                </div>

            </div>
        </div>
        <div class="mk-dialog-bg" v-show="dialogData.type != null" @click="onClickSpace">
        </div>
        <div class="mk-dialog mk-dialog-node" v-show="dialogData.type=='node'">
            <div class="content">
                <div>
                    <span>Name: </span>
                    <input v-model="dialogData.node.name" />
                </div>
            </div>
            <div class="btn-group">
                <button class="btn btn-mini btn-negative" @click="deleteNode">
                    Delete this Node and All Children !
                </button>
            </div>
        </div>
        <div class="mk-dialog mk-dialog-host" v-show="dialogData.type=='host'">
            <div class="content">
                <div>
                    <span>Name: </span>
                    <input v-model="dialogData.host.name" />
                </div>
                <div>
                    <span>Host: </span>
                    <input v-model="dialogData.host.host" />
                </div>
                <div>
                    <span>Port: </span>
                    <input v-model="dialogData.host.port" />
                </div>
                <div>
                    <span>User: </span>
                    <input v-model="dialogData.host.user" />
                </div>
                <div>
                    <span>Password: </span>
                    <input type="password" v-model="dialogData.host.password" />
                </div>
            </div>
            <div class="btn-group">
                <button class="btn btn-mini btn-negative" @click="deleteHost">
                    Delete this Host !
                </button>
            </div>
        </div>

        <div class="mk-dialog mk-dialog-confirm" v-show="dialogData.type=='confirm'">
            <div>
                <span class="icon icon-attention" style="font-size:38px;color:darkred;"></span>
                <span style="font-size:18px; margin-left:20px;">Are You Sure ?</span>
            </div>
            <div class="btn-group btn-group-right">
                <button class="btn btn-mini btn-default" @click="confirmYes">
                    Yes
                </button>
                <button class="btn btn-mini btn-default" @click="confirmNo">
                    No
                </button>
            </div>
        </div>

    </div>

</body>

</html>